.homePage {
    background: linear-gradient(to right, #000000, #400404);
}

@media screen and (min-width: 1242px) {
    .homePage {
        height: 100%;
    }
}

.brand-logo {
    font-size: xx-large !important;
    transition: transform 0.5s;
}

.brand-logo:hover {
    transform: scale(1.2);
}

    @keyframes levitate {
        0% { transform: translate(0px, 15px) }
        25% { transform: translate(0px, -15px) }
        50% { transform: translate(0px, 15px) }
        75% { transform: translate(0px, -15px) }
        100% { transform: translate(0px, 15px) }
    }

.channel-background {
    border-radius: 30px;
    animation: levitate 10s;
    animation-iteration-count: infinite;
}

.explore-button {
    color: whitesmoke;
    padding: 7px 15px;
    border: 1px solid #8a8989;
    border-radius: 20px;
    background-color: transparent;
    font-weight: bold;
    font-size: 20px;
    transition: 0.5s;
}

.explore-button:hover {
    background-color: #200202;
}

footer a {
    color: white;
    text-decoration: none;
}